body {
    display: flex;
    background-color: #EFF2F4;
    margin: 0px;
    font-family: 'Albert Sans';
}

h1 {
    margin: 0px;
}

p {
    margin: 0px;
}

a {
    text-decoration: none;
}

#geral {
    display: flex;
    flex-direction: column;
}

#container-main {
    display: flex;
    flex-direction: column;
    margin: 2px auto;
}

main hr {
    width: 1050px;
}

#logo-senac {
    margin: 5px auto;
    background-color: #fff;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-width: 1146px;
}

#pastas {
    position: absolute;
    top: 20px;
    display: flex;
    margin: 20px;
    font-size: 20px;
}

#pasta-atual {
    font-weight: bold;
}

#pastas a, p {
    margin: 0px 5px;
    color: #000;
}

/* #pastas-pags {
    position: absolute;
    background-color: #fff;
    width: 1300px;
    height: 100px;
} */

.comunicado {
    width: 300px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.comunicado p {
    width: 270px;
}

#btn-lermais {
    position: relative;
    left: 175px;
    width: 100;
}

#titulo-edit {
    display: flex;
    justify-content: start;
    align-items: start;
}

#titulo-edit h3 {
    margin-left: 0px;
    color: #000;
}

#btn-edit {
    aspect-ratio: 4/4;
    width: 20px;
}

#logo-user {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    padding-bottom: 1px;
}

#logo-user img, h3 {
    font-weight: 300;
    margin: 5px auto;
    margin-bottom: 1px;
    color: #fff;
} 

#logo-user img {
    width: 80%;
}

#menu {
    position: fixed;
    width: 220px;
    height: 100vh;
    background-color: #2E4EAD;
}

#menu-placeholder {
    min-width: 220px;
    height: 100vh;
}

#menu hr {
    width: 90%;
    height: .1px;
    opacity: 40%;
    border: none;
    background-color: #fff;
}

#options {
    margin: 20px 0px 0px 30px;
    font-size: 16px;
    font-weight: 300;
}

#options div {
    margin: 20px 0px;
}

#options a {
    color: #fff;
    margin-left: 15px;
}

#options img {
    width: 10%;
    margin-right: 10px;
    filter: invert(1);
}

#home, #comunicados, #conceitos, #registros {
    display: flex;
    align-items: center;
    font-size: 15px;
}
