body {
    background: rgb(86, 128, 210);
    background: linear-gradient(110deg, rgba(86, 128, 210, 1) 0%, rgba(0, 0, 0, 0.9) 100%);
    font-family: Helvetica;
    margin: 0px;
}

#container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 527px;
    max-height: 833px;
    border-radius: 10px;
    background-color: #fff;
    margin: 70px auto;
    padding: 20px;
    padding-bottom: 38px;
}

#container-login h1 {
    margin-bottom: 50px;
}

label {
    font-size: 20px;
    font-weight: bold;
}

#tipo-usuario {
    font-size: 20px;
    width: 406px;
    height: 49px;
    padding-left: 20px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}

#inputs {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

#email-input,
#password-input {
    font-size: 20px;
    padding-left: 20px;
    width: 380px;
    height: 45px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #000;
    outline: none;
}

#recover-password {
    text-align: end;
    margin-top: 10px;
}

#btn-login {
    text-align: center; /* TIRAR DEPOIS */
    justify-content: center;
    align-items: center;
    background-color: #5680D2;
    border: none;
    border-radius: 30px;
    width: 408px;
    height: 49px;
    font-size: 20px;
    margin-top: 15px;
}
